<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:http="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <bean id="robot" class="com.gmail.lizaiatsenko.ToshibaRobot" parent="baseModel">
        <!--<constructor-arg ref="robotleg"/>-->
        <!--<constructor-arg ref="robothead"/>-->
        <!--<constructor-arg ref="robotbody"/>-->
    </bean>

    <bean id="robotMac" class="com.gmail.lizaiatsenko.MacRobot">
        <property name="color" value="silver"/>
    </bean>

    <bean id="baseModel" abstract="true">
        <constructor-arg ref="robotleg"/>
        <constructor-arg ref="robothead"/>
        <constructor-arg ref="robotbody"/>
    </bean>
    <bean id="robotleg" class="com.gmail.lizaiatsenko.RobotLeg"/>
    <bean id="robothead" class="com.gmail.lizaiatsenko.RobotHead"/>
    <bean id="robotbody" class="com.gmail.lizaiatsenko.RobotBody"/>


</beans>